body{
    margin:0;
    overflow:hidden;
    font-family:Arial;
    background:#222;
}

#startScreen{
    position:absolute;
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#playButton{
    padding:15px 40px;
    font-size:24px;
    cursor:pointer;
}

.hidden{
    display:none;
}

#gameScreen{
    width:100%;
    height:100vh;
    position:relative;
    background:#444;
}

#player{
    width:80px;
    height:80px;
    background:#008cff;
    border-radius:50%;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
